@using Microsoft.AspNetCore.Identity
@using Envoice.Web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="navigation-menu show">
            <li class="nav-link">
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-link">
                <a asp-area="" asp-controller="Manage" asp-action="LogOff" title="LogOff">Log off</a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navigation-menu show">
        <li class="nav-link"><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
        <li class="nav-link"><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}
