@using Envoice.Web.Models.InvoiceViewModels

@model InvoiceViewModel

@{
    ViewData["title"] = "New Invoice";
    var invoiceNumber = "model.InvoiceNumber";
}

<form asp-controller="invoice" asp-action="Create" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <h3>New Invoice</h3>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-6 form-group">
        <label asp-for="InvoiceNumber"></label>
        <input asp-for="InvoiceNumber" type="text" disabled>
    </div>
    <div class="col-6 form-group">
        <label asp-for="InvoiceDate"></label>
        <input asp-for="InvoiceDate" type="date">
    </div>
    <div class="col-6 form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" type="text">
    </div>
    <div class="col-6 form-group">
        <label asp-for="Client"></label>
        <input asp-for="Client" type="text">
        <input asp-for="ClientID" type="hidden">
    </div>
    <div class="col-6 form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
        

</form>